/*HOME*/

/*fun scrolly thingy (parallax effect)*/
.parallax { 
  /* The image used */
  background-image: url("https://i.ibb.co/VTtWSVy/me.jpg");

  /* full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
  height: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/*My names looks*/
#myName{
  font-size: 80px;
  text-align: center;
}

/*text color of the main page*/
.namePart
{
  color: #72A9D8;
  background-color: #721E5C;
}

/*text on image*/
.centered h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Look of about me words*/
.aboutMe
{
  color: #C5D1EB;
  background-color: #2F4858;
  font-size: 60px;
}

/*VIDEO GAMES*/

/*background black, titles green*/
#vg{
  background-color: #000000;
  color: #32DE8A;
}

p
{
  font-size: 20px;
  padding-left: 60px;
}

div {
    padding: 0.1px;
}

body {
  margin: 0;
}

/*centers a picture*/
.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

/*NAVBAR*/

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.vgdropdown {
  float: left;
  overflow: hidden;
}

.vgdropdown .vgdropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#navbar a:hover, .vgdropdown:hover .vgdropbtn {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.vgdropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.vgdropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.vgdropdown-content a:hover {
  background-color: #000000;
}

.vgdropdown:hover .vgdropdown-content {
  display: block;
}
