/*My names looks*/
#myName{
	font-size: 80px;
	text-align: center;
}

/*text color of the main page*/
.namePart
{
	color: #C5D1EB;
	background-color: #336699;
}

/*text on image*/
.centered h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Look of about me words*/
.aboutMe
{
	color: #C5D1EB;
	background-color: #2F4858;
	font-size: 60px;
}

/*VIDEO GAMES*/

/*background black, titles green*/
#vg{
  background-color: #000000;
  color: #32DE8A;
}

p
{
	font-size: 20px;
  padding-left: 15px;
}

div {
    padding: 0.1px;
}

body {
  margin: 0;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 1;
  position: sticky;
  width: 100%;
  top:0;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px;
  text-decoration: none;
  z-index: 2;
}

/*more nav bar stuff*/
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

