/*HOME*/

/*fun scrolly thingy (parallax effect)*/
.parallax { 
  /* The image used */
  background-image: url("https://i.ibb.co/VTtWSVy/me.jpg");
  /*Idk how to make it a landscape photo and not lose the quality
  would look something like this i guess ...
  background-image: url("https://i.ibb.co/r3qJwDM/me.png");*/

  /* full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
  height: 100%;
}

/*My names looks*/
#myName{
  font-size: 80px;
  text-align: center;
}

/*text color of the main page*/
.namePart
{
  color: #72A9D8;
  background-color: #721E5C;
}

/*text on image*/
.centered h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Look of about me words*/
.aboutMe
{
  color: #C5D1EB;
  background-color: #2F4858;
  font-size: 60px;
}

/*VIDEO GAMES*/

/*background black, titles green*/
.vg{
  background-color: #000000;
  color: #32DE8A;
  z-index: 2; 
}

/*SHOWS AND MOVIES*/

/*background black, titles green*/
#showsAndMovies{
  background-color: #35060B;
  color: #B98EA7;
}

p
{
  font-size: 20px;
  padding-left: 60px;
}

div {
    padding: 0.1px;
}

body {
  margin: 0;
}

/*centers a picture*/
.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

/*NAVBAR*/

.navbar {
  overflow: hidden;
  background-color: #333;
  top: 10;
  potion: fixed;
  z-index: 2;
}

.navbar a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

/*makes games go under the vg button and not all the way to left*/
.vgdropdown {
  overflow: hidden;
  float: left;
}

.vgdropdown .vgdropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 2;
}

.navbar a:hover, .vgdropdown:hover .vgdropbtn {
  background-color: #ddd;
  color: black;
  z-index: 2;
}

.vgdropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  color: black;
  min-width: 160px;
  z-index: 2;
}

.vgdropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 2;
}

.vgdropdown-content a:hover {
  background-color: #ddd;
  z-index: 2;
}

.vgdropdown:hover .vgdropdown-content {
  display: block;
  z-index: 2;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*makes games go under the sm button and not all the way to left*/
.smdropdown {
  overflow: hidden;
  float: left;
}

.smdropdown .smdropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .smdropdown:hover .smdropbtn {
  background-color: #ddd;
  color: black;
}

.smdropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  color: black;
  min-width: 160px;
  z-index: 2;
}

.smdropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.smdropdown-content a:hover {
  background-color: #ddd;
}

.smdropdown:hover .smdropdown-content {
  display: block;
}